<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">

{{ template:metadata }}

<title>{{ settings:site_name }} | {{ template:title }}</title>

{{ theme:favicon file="favicon.png" }}

{{ theme:css file="bootstrap.css" }}

{{ theme:js file="jquery/jquery-1.7.1.min.js" }}
{{ theme:js file="modernizr/modernizr-2.0.6.js" }}

{{ theme:js file="bootstrap/bootstrap-transition.js" }}
{{ theme:js file="bootstrap/bootstrap-alert.js" }}
{{ theme:js file="bootstrap/bootstrap-modal.js" }}
{{ theme:js file="bootstrap/bootstrap-dropdown.js" }}
{{ theme:js file="bootstrap/bootstrap-scrollspy.js" }}
{{ theme:js file="bootstrap/bootstrap-tab.js" }}
{{ theme:js file="bootstrap/bootstrap-tooltip.js" }}
{{ theme:js file="bootstrap/bootstrap-popover.js" }}
{{ theme:js file="bootstrap/bootstrap-button.js" }}
{{ theme:js file="bootstrap/bootstrap-collapse.js" }}
{{ theme:js file="bootstrap/bootstrap-carousel.js" }}
{{ theme:js file="bootstrap/bootstrap-typeahead.js" }}

{{ theme:js file="scripts.js" }}